{% extends 'site_functions/base.html' %}

{% block content %}

    <div>
    	<b><h1>{{ user.name }}</h1></b>
    	<ul>
    		<li>Email: {{ user.email }}</li>
    		<li>Instituição: {{ user.instituicao }}</li>
    		<li>CPF: {{ user.cpf}}</li>
    		<li>Telefone: {{ user.phone }}</li>
    		<li>Modalidade de Inscrição: {{ user.modalidade }}</li>
    		<li>Minicursos: </li>
    		<ol>
    		{% for mini in user.minicursos.all %}
    			<h6><b><li>{{ mini.name }}</li></b></h6>
    		{% endfor %}
    		</ol>

            <li>Artigo: {% if not user.have_article %} Não vai enviar trabalho. {% elif not articles %} Artigo ainda não enviado {% endif %} </li>
            <ol>
            {% for art in articles.all %}
                <h6><b><li>{{ art.title }}</li></b></h6>
                 <a target='_blank' href={% url 'download' path=art.document %}>Download Trabalho</a>

                {% if log.is_admin %}
                   <a href={% url 'accept_article' user_id=user.id article_id=art.id %}>Avaliar Trabalho</a>
                {% endif %}
            {% endfor %}
            </ol>
            <li>Comprovante de Pagamento: </li>
            {% if user.comprovante != "False" %}
            <ol><a target='_blank' href={% url 'download' path=user.comprovante %}>Download Recibo</a>
            {% if log.is_admin %}
            <a href="{% url 'mark_payment' user_id=user.id %}">Avaliar Recibo</a>
            {% endif %}
            {% else%}
            <ol>Ainda não enviou comprovante</ol>
            {% endif %}
            </ol>
            {% if not log.is_admin %}
              {% if user.comprovante == "False" %}
                    <h1>Enviar receipt</h1>
                    <form method="POST" enctype="multipart/form-data" class="post-form" action="{% url 'upload_receipt' user_id=user.id%}">
                    {% csrf_token %}
                        {{form.as_p}}
                    <button type="submit" class="save btn btn-default">Salvar</button>
                    </form>
              {% endif %}
              {% if not articles %}
                {% if user.have_article %}
                    <a href="{% url 'upload_article' user_id=user.id %}">Enviar Trabalho</a>
                {% endif %}
              {% endif %}
                 <br>

                {% if user.had_paid %}
                    Participação Confirmada!
                {% else %}
                    Pagamento Pendente. Estamos analisando seu depósito.
                {% endif %}
            {% endif %}
    	</ul>

    </div>



{% endblock %}
