{% extends 'site_functions/base.html' %}

{% block content %}
    
    <div>
    	<b><h1>{{ user.name }}</h1></b>
    	<ul>
    		<li><h6>Email: {{ user.email }}</h6></li>
    		<li><h6>Instituição: {{ user.instituicao }}</h6></li>
    		<li><h6>CPF: {{ user.cpf}}</h6></li>
    		<li><h6>Telefone: {{ user.phone }}</h6></li>
    		<li><h6>Modalidade de Inscrição: {{ user.modalidade }}</h6></li>
    		<li><h6>Minicursos: </h6></li>
    		<ol>
    		{% for mini in user.minicursos.all %}
    			<li><b>{{ mini.name }}</b></li>
    		{% endfor %}
    		</ol>
    		{% if user.have_article %}
    			<a href="{% url 'upload_article' %}">Enviar Trabalho</a>
    		{% endif %}

    	</ul>
    	
    </div>

   

{% endblock %}