{% extends 'site_functions/base.html' %}

{% block content %}
    
    <div>
    	<b><h1>{{ user.name }}</h1></b>
    	<ul>
    		<li>Email: {{ user.email }}</li>
    		<li>Instituição: {{ user.instituicao }}</li>
    		<li>CPF: {{ user.cpf}}</li>
    		<li>Telefone: {{ user.phone }}</li>
    		<li>Modalidade de Inscrição: {{ user.modalidade }}</li>
    		<li>Minicursos: </li>
    		<ol>
    		{% for mini in user.minicursos.all %}
    			<h6><b><li>{{ mini.name }}</li></b></h6>
    		{% endfor %}
    		</ol>
    		
            
            <li>Artigo(s): </li>
            <ol>
            {% for art in articles.all %}
                <h6><b><li>{{ art.title }}</li></b></h6>
            {% endfor %}
            </ol>
           
            {% if user.have_article %}
                <a href="{% url 'upload_article' %}">Enviar Trabalho</a>
            {% endif %}



             <br>


            {% if user.had_paid %}
                Participação Confirmada!
            {% else %}
                Pagamento Pendente. Estamos analisando seu depósito.
            {% endif %}
    	</ul>
    	
    </div>

   

{% endblock %}